<!doctype html>
<html lang="en-US">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
      content"The genome viewer site is a resource for interactive 
               exploration, e.g. dynamic locuszoom, of genetic data.
               It is actively developed and maintained by the Palmer
               Lab."/>
<link rel="icon"
      href="/public/static/assets/favicon.pngs" 
      type="image/x-icon" />
<link rel="stylesheet" 
      type="text/css"
      href="/public/static/css/site.css" />

{{ template "css" }}

<title>genome viewer</title>
</head>

<body>
    {{ template "header" }}
    {{ template "main" }} 
    {{ template "footer" }}
    {{ template "js" }}
</body>
</html>
