<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/d3@^5.16.0"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/locuszoom@0.14.0/dist/locuszoom.app.min.js"></script>
<link rel="stylesheet"
      type="text/css"
      href="/public/static/css/site.css">
<link rel="stylesheet" 
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/locuszoom@0.14.0/dist/locuszoom.css"/>
<link rel="stylesheet"
      type="text/css"
      href="/public/static/css/lz.css">
<title>GWAS</title>
</head>
<header style="height:5em;position:sticky;top:0;z-index:1;background:white">
    <a href="/">
        <img class="header-img"
            src="/public/static/assets/home.png"
            width="250px"
            alt="Go to landing page"/>
    </a>
</header>

<body>
    <div class="container">
        <div class="side">
            <label for="projectId" style="font-family:sans-serif;margin-left:1rem">Project Ids</label>
            <select id="projectId" class="plab" required>
                <option value="">Select project id</option>
                {{range .Projects}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
            <label for="phenotype" style="font-family:sans-serif;margin-left:1rem">Phenotypes</label>
            <select id="phenotype" class="plab" width="100%">
                <option value="">Select phenotype</option>
            </select>
            <label for="chr" style="font-family:sans-serif;margin-left:1rem">Chromosomes</label>
            <select id="chr" class="plab" width="100%">
                <option value="">Select chromosome</option>
            </select>
            <!-- 
                <center>
                <button class="query">Query</button>
                </center>
            -->
        </div>

        <div class="content">
            <div id='lzChrOverview'>
            </div>
            <div id='lzLocusOfInterest'>
            </div>
        </div>
    </div>
</body>

<script type="module" src="/public/js/gwas.js">

    console.log(LocusZoom)
    console.log(PlabGenes)
    LocusZoom.DataLayers.add("plab_genes", PlabGenes)
    let plotListener = null
    let plots = []

    let queryElements = new Map();
    queryElements.set("projectId", document.getElementById("projectId"));
    queryElements.set("phenotype", document.getElementById("phenotype"));
    queryElements.set("chr", document.getElementById("chr"));

    // TODO: How do I reset all options under page refresh
    queryElements.get("projectId").eventProcessor = queryDataSourcesFromSelectors("/api/gwas/phenotypes",
        [],
        "projectId",
        ["phenotype", "chr"]);
    queryElements.get("phenotype").eventProcessor = queryDataSourcesFromSelectors("/api/gwas/chr",
        ["projectId"],
        "phenotype",
        ["chr"]);

    queryElements.get("chr").eventProcessor = initializeGwasPlots("projectId",
        "phenotype",
        "chr",
        {
            chrOverview: "lzChrOverview",
            locusOfInterest: "lzLocusOfInterest"
        });

    createListeners(queryElements)
</script>


</html>
